.slider-slick-container {
    width: 80%;
}

.slider-slick-items {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.slider-slick-items:hover {
    text-decoration: none;
}

.slider-slick-image {
    display: flex;
    justify-content: center;
    /* transform: scale(0.9);
    transition: all ease 0.2s; */
    /* border: 1px solid #ccc; */
}

.slider-slick-image:hover {
    transform: scale(1);
}

.slider-slick-legend {
    text-align: center;
    border: 1px solid #ccc;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
}